In [446]:
import pandas as pd
import json

with open("pokedex.json") as pokedex_json:
    pokedex_str = pokedex_json.read()
pokedex = json.loads(pokedex_str)["pokemon"]

pokemon_df = pd.DataFrame(pokedex) 
pokemon_df.head()
len(pokemon_df)

151

In [458]:
try:
    pokemon_df["weight"] = pokemon_df.apply(lambda pok: pok["weight"].replace(" kg", ""), axis=1)
    pokemon_df["weight"] = pokemon_df.apply(lambda pok: float(pok["weight"]), axis=1)
except:
    pass

pokemon_df["candy_count"].fillna(value=0, inplace=True)
pokemon_df["next_evolution"] = pokemon_df["next_evolution"].apply(lambda x: 0 if type(x) != list else x) 
pokemon_df["prev_evolution"] = pokemon_df["prev_evolution"].apply(lambda x: 0 if type(x) != list else x) 
pokemon_df.head()

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"[Grass, Poison]",0.71 m,6.9,Bulbasaur Candy,25.0,2 km,0.690,69.0,20:00,[1.58],"[Fire, Ice, Flying, Psychic]","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",0
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"[Grass, Poison]",0.99 m,13.0,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"[1.2, 1.6]","[Fire, Ice, Flying, Psychic]","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"[Grass, Poison]",2.01 m,100.0,Bulbasaur Candy,0.0,Not in Eggs,0.017,1.7,11:30,None,"[Fire, Ice, Flying, Psychic]",0,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,[Fire],0.61 m,8.5,Charmander Candy,25.0,2 km,0.253,25.3,08:45,[1.65],"[Water, Ground, Rock]","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",0
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,[Fire],1.09 m,19.0,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,[1.79],"[Water, Ground, Rock]","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"

In [463]:
# DF with the num, name and weight of all pokemon that weigh higher than 10 kg

pokemon_weight = pokemon_df.loc[pokemon_df["weight"] > 10]
pokemon_weight = pokemon_weight[["num", "name", "weight"]].sort_values(by=["weight"])
pokemon_weight

     num        name  weight
99   100     Voltorb    10.4
139  140      Kabuto    11.5
39   040  Wigglytuff    12.0
26   027   Sandshrew    12.0
59   060     Poliwag    12.4
..   ...         ...     ...
94   095        Onix   210.0
130  131      Lapras   220.0
129  130    Gyarados   235.0
75   076       Golem   300.0
142  143     Snorlax   460.0

[110 rows x 3 columns]

In [461]:
# DF with the pokemon and their evolutions

pokemon_evo = pokemon_df.loc[pokemon_df["prev_evolution"] == 0]
pokemon_evo = pokemon_evo[["id", "name", "next_evolution"]]

pokemon_evo["second_evo"] = pokemon_evo["next_evolution"].apply(lambda x: x[0]["name"] if type(x) == list else 0)
pokemon_evo["third_evo"] = pokemon_evo["next_evolution"].apply(lambda x: x[1]["name"] if type(x) == list and len(x) == 2 else 0)
pokemon_evo = pokemon_evo.drop(["next_evolution"], axis=1)

pokemon_evo

      id        name  second_evo   third_evo
0      1   Bulbasaur     Ivysaur    Venusaur
3      4  Charmander  Charmeleon   Charizard
6      7    Squirtle   Wartortle   Blastoise
9     10    Caterpie     Metapod  Butterfree
12    13      Weedle      Kakuna    Beedrill
..   ...         ...         ...         ...
144  145      Zapdos           0           0
145  146     Moltres           0           0
146  147     Dratini   Dragonair   Dragonite
149  150      Mewtwo           0           0
150  151         Mew           0           0

[79 rows x 4 columns]